.frame {
  border-radius: 8px;
  aspect-ratio: 468 / 299;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.blank {
  background-color: #f2f2f2;
  border-radius: 8px;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.imgBack {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.imgFront {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1.28px;
  line-height: normal;
  position: absolute;
  bottom: 24px;
  left: 16px;
  right: 16px;
  z-index: 3;
}
