.searchBar {
  height: 48px;
  width: 100%;
  max-width: 320px;
}

.inputDropdownBase {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 48px;
  width: 100%;
}

.inputWithLabel {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.input {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: var(--shadow-xs);
  gap: 8px;
  height: 48px;
  padding: 10px 14px;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
  border-color: #b7bdbe;
}

.input:hover {
  border-color: var(--color-accent-dark-1);
}

.input:focus {
  border-color: var(--color-accent-light);
}

.input:active {
  border-color: var(--color-accent-light);
}

/* .input:has(.text:disabled) {
  background-color: #f8f9fa;
  border-color: var(--color-accent-light);
  opacity: 0.6;
} */

.content {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 8px;
}

.search {
  width: 20px;
  height: 20px;
}

.text {
  background: transparent;
  border: none;
  color: #777d7d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  width: 100%;
  outline: none;
}

.text::placeholder {
  color: #777d7d;
}
